@import '~ant-design-pro/dist/ant-design-pro.css';
@import "./theme.less";
@import "./utils.less";

html, body, #root {
  height: 100%;
}

body{
  margin: 0;

  .normal-text-color{
    color: @text-color;
  }
  .normal-text-color-hover:hover{
    color: @text-color;
  }

  .skeleton-active{
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f200), color-stop(37%, #0000001a), color-stop(63%, #f2f2f200));
    background: linear-gradient(90deg, #f2f2f200 25%, #0000001a 37%, #f2f2f200 63%);
    background-size: auto auto;
    -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
  }

  .nav-drawer .ant-drawer-header{
    padding: 16px 6px 16px 2px;
  }

  .nav-search .ant-select-search--inline  input.ant-select-search__field{
    border-radius: 20px 2px 2px 20px;
  }

  form#product-search-form{
    .ant-select-selection__placeholder{
      height: 30px;
    }
    .ant-form-explain{
      display: none;
    }
  }

  .ant-table-small{
    border: none;

    .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
      background: @table-selected-row-bg;
    }
  }
  .App{
    .logo {
      width: 120px;
      height: 31px;
      background: rgb(255,255,255);  
      margin: 16px 24px 16px 0;
      float: left;
    }
    .default-btn{
      color: @primary-color;
      border-color: @primary-color;
      // background-color: @primary-color;
    }
    .default-btn:hover{
      color: #fff;
      border-color: @primary-color;
      background-color: @primary-color;
    }
    .ant-form-item-label{
      text-align: left;
    }
    .layout-content-panel{
      min-height: ~"calc(100vh - 69px - 64px - 40px)";
      .progress-error{
        .ant-progress-circle-path{
          stroke: #f5222d;
        }
      }
    }
    .bold-text{
      font-weight: bold;
    }

    table.bordered-table{
      td{
        border: 1px solid black;
      }
    }

    .ant-tabs-large .ant-tabs-nav-container .ant-tabs-tab{
      font-size: 16px;
    }

    .ant-upload-select{
      width: 140px;
    }
    .slider-icon-wrapper {
      position: relative;
      padding: 0px 20px;
    }
    
    .slider-icon-wrapper .anticon {
      position: absolute;
      top: -2px;
      width: 16px;
      height: 16px;
      line-height: 1;
      font-size: 16px;
      color: rgba(0, 0, 0, .25);
    }
    
    .slider-icon-wrapper .anticon:first-child {
      left: 0;
    }
    
    .slider-icon-wrapper .anticon:last-child {
      right: 0;
    }

    .lang-menu .ant-radio-button-input{
      display: none;
    }

    .hover-active:hover{
      color: @primary-color;
    }

    .cursor-pointer{
      cursor: pointer;
    }

    @media print{
      .print-break-after{
        page-break-after: always;
      }
      .print-break-before{
        page-break-before: always;
      }
      .no-print, .no-print *{
          display: none !important;
      }
    }

    @media screen and (max-width: 768px){
      //small displays
      .ant-layout-header{
        height: 100px;
        .header-text-container{
          top: -30px;
        }
        .header-text{
          font-size: 1em;
        }
        .header-text-extra{
          display: none;
        }
        .full-width-on-small{
          width: 100%;
        }
        .lang-menu{
          top:-180px;
          // right: -160px;
          // left: calc(100vw - 150px);
          // transform: scale(0.7);
        }
      }
    }
    @media screen and (min-width: 769px){
      //large displays
      .ant-layout-header{
        height: 78px;
        .header-text{
          font-size: 1.3em;
        }
        // .header-text-extra{
        //   display: block;
        // }
      }
    }
  }
}